mq/test.lua
gmq
nohup.out
gmq.pid
gmq.log
.gmq.out
/vendor/*
!/vendor/vendor.json

/api
/keys
/web

/cmd/gnode/gnode.log
/cmd/gnode/gnode
/cmd/gnode/gmq_x.prof
/cmd/gregister/gregister
/cmd/gregister/gregister.log
