<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>ECharts</title>
    <!-- 引入 echarts.js -->
    <script src="https://cdn.bootcss.com/echarts/4.2.1-rc1/echarts.min.js"></script>
    <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>
    <div id="bucket" style="width: 1200px;height:400px;"></div>
    <div id="queue" style="width: 1200px;height:400px;"></div>
    <script type="text/javascript">
    $(function(){
      // bucket 
      var bucket =echarts.init(document.getElementById('bucket'));
      bucket.showLoading();
      setInterval(getBucketInfo,2000)
      
      // queue
      var queue = echarts.init(document.getElementById('queue'));
      queue.showLoading();
      setInterval(getQueueInfo,2000)
      
      function getBucketInfo() {
        $.ajax({
          url:"http://127.0.0.1:8000/getBucketInfo",
          dataType:"json",
          success:function(data){
            // 指定图表的配置项和数据
            var name = []
            var value = []
            $.each(data,function(k,v){
              name.push(v.id)
              value.push(v.job_num)
            })
            
            var option = {
                title: {
                    text: 'bucket统计'
                },
                tooltip: {},
                legend: {
                    data:['堆积数量']
                },
                xAxis: {
                    data: name
                },
                yAxis: {},
                series: [{
                    name: '堆积数量',
                    type: 'bar',
                    data: value
                }]
            };
    
            console.log(option)
            
            // 使用刚指定的配置项和数据显示图表。
            bucket.hideLoading();
            bucket.setOption(option);
          }
        })  
      }
      
      
      function getQueueInfo() {
        $.ajax({
          url:"http://127.0.0.1:8000/getQueueInfo",
          dataType:"json",
          success:function(data){
            // 指定图表的配置项和数据
            var name = []
            var value = []
            $.each(data,function(k,v){
              name.push(v.name)
              value.push(v.num)
            })
            
            var option = {
                title: {
                    text: 'ready queue统计'
                },
                tooltip: {},
                legend: {
                    data:['堆积数量']
                },
                xAxis: {
                    data: name
                },
                yAxis: {},
                series: [{
                    name: '堆积数量',
                    type: 'bar',
                    data: value
                }]
            };
    
            console.log(option)
            
            // 使用刚指定的配置项和数据显示图表。
            queue.hideLoading();
            queue.setOption(option);
          }
        })  
    }
      
      
      
    })
    </script>
</body>
</html>